* {
    padding: 0px;
    margin: 0px;
    font-family: 'Montserrat', sans-serif;
}
.main-page {
    margin: 0px;
    padding: 0px;
    position: absolute;
    left: 0;
    top: 0;
    width: 1105px;
    min-width: 1105px;
    max-width: 1105px;
    height: 1464px;
    min-height: 1464px;
    max-height: 1464px;
    /* border: 1px solid red; */
}
.top {
    width: 100%;
    min-width: 100%;
    max-width: 100%;
    height: 15%;
    /* border: 2px solid blue; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
    border-bottom: 2px solid darkgray;
    /* margin: 0px 0px; */
}
.Applicant_name {
    margin: 30px;
    margin-right: 50px;
    margin-left: 50px;
    letter-spacing: 5px;
    font-size: 75px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    /* border: 2px dashed darkorchid; */
    text-transform: uppercase;
    overflow-wrap: break-word;
}
.Applicant_post {
    margin: 30px;
    margin-right: 50px;
    margin-left: 50px;
    margin-top: -20px;
    letter-spacing: 2px;
    font-size: 20px;
    font-weight: 600;
    /* border: 2px dashed darkorchid; */
    color: darkgray;
}
.bottom {
    display: flex;
    flex-direction: row;
}
.left {
    width: 30%;
    padding: 0px;
    margin: 0px;
    border-right: 2px solid whitesmoke;
    height: 1238px;
    background-color: #faa41a;
}
.contact {
    width: 100%;
    height: fit-content;
    margin: 0px;
    padding: 0px;
    margin-bottom: 15px;
    /* border: 1px solid red; */
}
.contact-head, .skills-head {
    text-align: center;
    padding: 15px;
    padding-left: 30px;
    border-bottom: 2px solid whitesmoke;
    border-top: 2px solid whitesmoke;
}
.contact-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 15px;
    /* align-items: center; */
}
.mail, .ph-num, .linked-in, .location {
    display: flex;
    flex-direction: row;
    margin: 15px;
    padding: 0px 15px;
    font-size: 15px;
    max-width: 270px;
    /* border: 2px solid red; */
    overflow-wrap: break-word;
    /* overflow: scroll; */
}
a {
    display: inline-block;
    overflow-wrap: break-word;
}
.mail-value, .ph-num-value, .location-value, .linkedin-value {
    display: flex;
    /* width: 100%; */
    justify-content: center;
    align-items: center;
    overflow-wrap: break-word;
    font-weight: 600;
    font-size: 17px;
}
.mail-icon, .ph-num-icon, .linkedin-icon, .location-icon {
    /* border: 2px solid red; */
    display: flex;
    align-items: center;
    /* text-align: center; */
}
i {
    margin-right: auto;
    padding-right: 15px;
    font-size: 20px;
}
.skills {
    padding-bottom: 10px;
}
.skills-head, .lang-head, .add-info-head{
    text-align: left;
    padding: 0px auto;
    font-weight: 700;
    font-size: 22px;
    text-transform: uppercase;
    /* margin-left: 30px; */
}
.skills-body {
    margin-top: 15px;
}
.skill {
    /* width: 100%; */
    padding:5px 0px 10px 30px;
    font-size: 17px;
    font-weight: 600;
    /* margin-left: 20px; */
    text-transform: capitalize;
}
.languages {
    margin-top: 10px;
}
.lang-head {
    padding: 15px 15px 15px 30px;
    border-top: 2px solid whitesmoke;
    border-bottom: 2px solid whitesmoke;
}
.additional-info {
    margin-top: 10px;
}
.add-info-head  {
    padding: 15px 15px 15px 30px;
    font-size: 18px;
    border-top: 2px solid whitesmoke;
    border-bottom: 2px solid whitesmoke;
}
.add-info-body {
    margin: 10px 30px;
    text-align: justify;
}
/* ******************************* */
.right {
    padding: 20px;
    /* border: 2px solid red; */
}
.summary {
    height: fit-content;
    max-height: 25%;
    /* border-bottom: 2px solid red; */
    text-align: justify;
}
.summary-head {
    padding-bottom: 10px;
    margin:0px 0px 10px 0px;
    font-size: 22px;
    font-weight: 700;
    text-transform: uppercase;
    border-bottom: 2px solid darkgray
}
.summary-body {
    padding-bottom: 10px;
    font-weight: 600;
}
.education {
    margin-top: 10px;
    overflow-wrap: break-word;
    
}
.education-head {
    padding-bottom: 10px;
    margin:0px 0px 10px 0px;
    font-size: 22px;
    font-weight: 700;
    text-transform: uppercase;
    border-bottom: 2px solid darkgray
}
.education-body {
    font-size: 17px;
    padding-bottom: 10px;
}
.college-name {
    font-weight: 700;
}
.college-detail {
    padding: 0px 30px;
    /* border: 2px solid red; */
    font-weight: 500;
}
ul {
    list-style: inside;
}
.std12 {
    margin-top: 10px;
}
.std12-name {
    font-weight: 700;
}
.std12-detail {
    padding: 0px 30px;
    font-weight: 500;
}
.works {
    margin-top: 10px;
    text-align: justify;
}
.work-head {
    padding-bottom: 10px;
    margin:0px 0px 10px 0px;
    font-size: 22px;
    font-weight: 700;
    text-transform: uppercase;
    border-bottom: 2px solid darkgray
}
.work-body {
    padding-bottom: 10px;
}
.work-name {
    padding: 5px 0px;
    font-weight: 700;
}
.work-detail {
    padding-left: 30px;
}
.achievement-head {
    padding-bottom: 10px;
    margin:0px 0px 10px 0px;
    font-size: 22px;
    font-weight: 700;
    text-transform: uppercase;
    border-bottom: 2px solid darkgray
}
.achievement-body {
    text-align: justify;
}

.change-color {
    background-color: rgb(0, 183, 255);
    color: black;
}